<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/bookmarks" method="post">
      <h1>Please type in the url of your new bookmark.
      </h1>
      <input type="text" name="url" value="">
      <input type="submit" name="Add" value="Add Bookmark">
  </form>
  </body>
</html>
